<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <div id="front-picture"></div>
      <div class="site">
        <div class="header">
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <a class="extra" href="/">home</a>
        </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                &copy; Fabien Fleutot 2014<br />
                <a href='mailto://fleutot+elornblog@gmail.com'>fleutot+elorn_github@gmail.com</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/fab13n">github.com/fab13n</a><br />
                <a href="https://twitter.com/fab13n">twitter.com/fab13n</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
